
.form-select, #searchInput {
    margin-bottom: 1rem;
}

.row .form-select {
    width: 100%;
}

#checkbox-region {
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .card.w-50 {
        width: 100%;
    }
    
    .row {
        flex-direction: column;
    }
    
    #filter, #clean-filter {
        width: 100%;
    }
}
