
.form-select, #searchInput {
    margin-bottom: 1rem !important;
}

.row .form-select {
    width: 100% !important;
}

#checkbox-region {
    gap: 0.5rem !important;
}

.page-item > * {
    border-radius: 5px !important;
}

@media (max-width: 768px) {
    .card.w-75 {
        width: 100% !important;
    }
    
    #filter, 
    #clean-filter,
    div#main,
    div#filter {
        width: 100% !important;
    }

    body {
        font-size: 12px !important;
    }
}
